In [2]:
# Import necessary libraries
import pandas as pd

# Load the dataset
data = pd.read_csv('/content/IMDB-Movie-Data.csv')  # Make sure this path matches where your dataset is located

# Top 10 Rated Comedy Movies
comedy_movies = data[data['Genre'].str.contains('Comedy', na=False)]  # Filter movies with 'Comedy' in Genre
top_comedy_movies = comedy_movies.sort_values(by='Rating', ascending=False).head(10)  # Sort by Rating and get top 10
print("Top 10 Rated Comedy Movies:")
print(top_comedy_movies[['Title', 'Rating']])

# Top 5 Rated Movies Overall
top_movies = data.sort_values(by='Rating', ascending=False).head(5)  # Sort by Rating and get top 5
print("Top 5 Rated Movies Overall:")
print(top_movies[['Title', 'Rating']])

Top 10 Rated Comedy Movies:
                        Title  Rating
249          The Intouchables     8.6
430                  3 Idiots     8.4
6                  La La Land     8.3
688               Toy Story 3     8.3
499                        Up     8.3
241                Inside Out     8.2
765                        PK     8.2
82    The Wolf of Wall Street     8.2
74                   Zootopia     8.1
238  The Grand Budapest Hotel     8.1
Top 5 Rated Movies Overall:
               Title  Rating
54   The Dark Knight     9.0
80         Inception     8.8
117           Dangal     8.8
36      Interstellar     8.6
96     Kimi no na wa     8.6